<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior0">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceRest_20180140069_Fadia_Rani.TI_UMY">
                <endpoint address="http://localhost:1907" behaviorConfiguration="NewBehavior0"
                    binding="webHttpBinding" bindingConfiguration="" contract="ServiceRest_20180140069_Fadia_Rani.ITI_UMY" />
            </service>
        </services>
    </system.serviceModel>
</configuration>